.heading-skill{
  font-size: 4rem;
  text-align: center;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 4rem;
  letter-spacing: 0.1rem;
  color: #f1c40f;
}

.container{
  max-width: 1200px;
  width: 90%;
  margin: 4rem auto;
}

.skill-section{
  text-align: left;
  text-transform: uppercase;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.skill-section .skill-item{
  margin-bottom: 3rem;
}

.skill-section .skill-item h5{
  line-height: 4rem;
}

.skill-section .skill-item .progress{
  position: relative;
  background-color: #555;
  height: 7px;
  border-radius: 0.4rem;
  width: 100%;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}

.skill-section .skill-item .progress .progress-in{
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.4rem;
  height: 100%;
  background-color: #f1c40f;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}

.skill-section .skill-item .progress .skill-percent{
  position: absolute;
  right: 0;
  top: -4rem;
  color: #fff;
  line-height: 4rem;
  font-size: 1.5rem;
  font-weight: 400;
}

