.heroSection{
  margin-top: 15rem;
}

.heroSection .heroBox{
  max-width: 70rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
}

.heroSection .heroBox .textBox{
  text-align: start;
}

.heroSection .heroBox .imgBox .imgborder{
  max-width: 28rem;
  width: 100%;
  height: 28rem;
  background:
  url("https://images.pexels.com/photos/341970/pexels-photo-341970.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 80%;
}

.heroSection .heroBox .textBox .vanshaj, .heroSection .heroBox .textBox .Narayan{
  font-size: 6rem;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 900;
}

.heroSection .heroBox .textBox .btn{
  max-width: 10rem;
  width: 100%;
  color: #00A9FF;
  background-color: #F9D949;
  font-size: 1.3rem;
  padding: 0.7rem 2rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
  outline: none;
  margin-top: 1.3rem;
  position: relative;
  overflow: hidden;
}

.heroSection .heroBox .textBox .btn::before{
  content: "Contact";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: #00A9FF;
  padding-top: 0.6rem;
  color: #fff;
  transition: transform 0.4s;
  letter-spacing: 0.2rem;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.heroSection .heroBox .textBox .btn::before{
  transform: scaleX(0);
}

.heroSection .heroBox .textBox .btn:hover::before{
  transform: scaleX(1);
}

@media(width < 850px){
  .heroSection .heroBox .textBox{
    text-align: center;
  }

  .heroSection .heroBox .textBox .vanshaj, .heroSection .heroBox .textBox .Narayan{
    font-size: 4rem;
  }
}

@media(width < 600px){
  .heroSection .heroBox .textBox{
    text-align: center;
  }

  .heroSection .heroBox .textBox .vanshaj, .heroSection .heroBox .textBox .Narayan{
    font-size: 3rem;
  }
}

