.contactSection .contactHeading{
  text-align: center;
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
  color: #F9D949;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-transform: uppercase;
}

.contactSection .contactInfo{
  max-width: 100rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 2rem;
  padding: 2rem;
  text-align: center;
}

.contactSection .contactInfo .info .infoIcons{
  font-size: 2.4rem;
  color: #F9D949;
  margin-bottom: 1rem;
}

.contactSection .contactInfo .info .infoHeading{
  font-size: 1.7rem;
  color: #000;
  text-transform: uppercase;
  font-weight: 900;
}

.contactSection .contactInfo .info .infopara{
  font-size: 1.2rem;
  color: #0000006c;
  text-transform: capitalize;
  font-weight: 600;
  margin-top: 0.6rem;
  letter-spacing: 0.1rem;
}

.contactSection .contactBox{
  max-width: 100rem;
  margin: 0rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.contactSection .contactBox .box{
  padding: 2rem;
}

.contactSection .contactBox .inputBox form{
  text-align: center;
}

.contactSection .contactBox .inputBox form input{
  display: block;
  max-width: 38rem;
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

.contactSection .contactBox .inputBox form #textarea{
  display: block;
  max-width: 38rem;
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

.contactSection .contactBox .inputBox form .inputBtn{
  max-width: 10rem;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #F9D949;
  color: #00A9FF;
  text-transform: capitalize;
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  font-weight: 700;
  transition: all all 0.4s;
  position: relative;
  overflow: hidden;
}

.contactSection .contactBox .inputBox form .inputBtn::before{
  content: "Submit";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #00A9FF;
  color: #fff;
  padding-top: 0.7rem;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.contactSection .contactBox .inputBox form .inputBtn::before{
  transform: scaleX(0);
}

.contactSection .contactBox .inputBox form .inputBtn:hover::before{
  transform: scaleX(1);
}

@media(width < 340px){
  .contactSection .contactHeading{
    font-size: 4rem;
  }
}